.wrap-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color); /* Light blue-gray background */
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  width: 400px;
  height: calc(
    100vh - 50px
  ); /* Adjust 100px to match your header/footer height */
  overflow-y: auto; /* Adds vertical scrolling if content exceeds viewport height */
}

.menu h2 {
  color: var(--font-color);
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
}

.menu button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 10px;
  border-radius: 5px;
  width: 80%;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu button:hover {
  background-color: var(--hover-color);
}

.menu p {
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .menu {
    width: 90%;
    min-width: unset;
  }
}

.previous-info-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  padding: 15px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  color: #856404;
}

.warning-icon {
  font-size: 1.2em;
  margin-right: 8px;
  vertical-align: middle;
}

.previous-info-message p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.previous-info-message button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.previous-info-message button:hover {
  background-color: #c82333;
}

.cleared-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
