.carga-container {
  display: flex;
  flex-direction: column;
  max-height: 80vh; /* Adjust this value as needed */
  overflow: hidden; /* Hide overflow for the entire container */
  align-items: center;
}

.carga-buttons-container {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px; /* Add some padding for the scrollbar */
  margin-bottom: 10px;
}

.carga-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.carga-button-group {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
}

.carga-button-group a {
  flex-grow: 1;
  display: flex;
}

.carga-button-group button {
  height: 35px;
  white-space: nowrap;
}

.carga-button-group a button {
  width: 100%;
}

.carga-button-group button:last-child {
  width: auto;
  padding: 0 15px;
}

.eliminar-button {
  background-color: black !important;
}

.carga-buttons a,
.carga-buttons a:hover,
.carga-buttons a:focus,
.carga-buttons a:active,
.carga-button-group a button {
  text-decoration: none;
}

.crear-carga-button {
  margin-top: auto; /* Push the button to the bottom */
  padding: 10px;
  white-space: nowrap;
}
