h3 {
  color: var(--primary-color);
  margin-top: 25px;
  margin-bottom: 15px;
}

.section {
  margin-bottom: 25px;
  padding-bottom: 15px;
  width: 90%;
  border-bottom: 1px solid #ddd;
}

.section button {
  width: 100px;
  margin-left: 0;
}

.section p {
  margin-bottom: 10px;
}

.label {
  color: #555;
}

.value {
  color: #333;
  font-weight: bold;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
