.radio-buttons-container {
  margin: 20px 0;
}

.radio-buttons-container p {
  font-weight: bold;
  margin-bottom: 10px;
}

.radio-buttons-container div {
  margin-bottom: 10px;
}

.radio-buttons-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-buttons-container input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
  outline: none;
  margin-right: 10px;
}

.radio-buttons-container input[type="radio"]:checked {
  background-color: var(--primary-color);
  position: relative;
}

.radio-buttons-container input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio-buttons-container label:hover input[type="radio"] {
  border-color: var(--primary-color);
}

.radio-buttons-container input[type="radio"]:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}
